<div class="hero-list-container">
  <ng-container *ngFor="let heroByStar of heroesByStar$ | async">
    <div class="star-container" *ngIf="heroByStar.length > 0">
      <ng-container *ngFor="let hero of heroByStar">
        <div
          class="hero-item"
          id="{{ hero.type.toLowerCase() }}"
          [ngClass]="{
            inactiveItem: !hero.active,
            'selected-heroItem': hero.isSelected
          }"
          (click)="selectedHeroItem(hero)"
        >
          <div class="image-sizer">
            <div class="image-container">
              <img class="hero-image" src="{{ hero.imageURL }}" />
            </div>
          </div>
          <div class="hero-name">{{ hero.label[1] }}</div>

          <!-- <span *ngIf="hero.combinationNumber && hero.combinationNumber > 1"
            >X {{ hero.combinationNumber }}</span
          > -->
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
