

.hero-item{
  width: 180px;
  aspect-ratio: 10/3;
  position: relative;
  font-size: 16px;
  line-height: 25px;
  border: solid 4px rgba(235, 231, 231, 0.7);
  border-radius: 80px;
  margin: 8px;
  user-select: none;

  .image-sizer{
    .image-container{
      height: 100%;
      position: relative;
      display: inline-block;

      .image{
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .hero-image{
    height: 120%;
    position: absolute;
    top: -18%;
    bottom: 0;
    right: 0;
    left: -2%;
  }

  .hero-class-image{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    opacity: 0.7;
  }

  .hero-name{
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 0;
    font-family: sans-serif;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  &:hover{
    cursor: pointer;
  }
}

.selected-heroItem{
  border: solid 4px rgba(230, 144, 16, 0.7);
}

.inactiveItem{
  opacity: 0.3;
}

:host{
  background-color: rgba(235, 231, 231, 0.2);
  overflow: auto;

  .hero-list-container{
    display: flex;
    flex-direction: column;
    margin: 24px;

    .star-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: solid 1px black;
      padding: 16px;
      margin: 8px;
    }
  }
}

