

.hero-item{
  width: 180px;
  aspect-ratio: 10/3;
  position: relative;
  font-size: 16px;
  line-height: 25px;
  border: solid 4px rgba(235, 231, 231, 0.7);
  border-radius: 80px;
  margin: 8px;
  user-select: none;

  .image-sizer{
    height: 102%;
    position: absolute;
    top: -1%;
    bottom: 0;
    right: 0;
    left: -2%;

    .image-container{
      height: 100%;
      position: relative;
      display: inline-block;

      .hero-image{
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .hero-name{
    font-size: 20px;
    position: absolute;
    left: 35%;
    top: 0;
    font-family: sans-serif;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &:hover{
    cursor: pointer;
  }
}

.selected-heroItem{
  border: solid 4px rgba(230, 144, 16, 0.7);
}

.inactiveItem{
  opacity: 0.3;
}

:host{
  background-color: rgba(235, 231, 231, 0.2);

}

.hero-list-container{
  display: flex;
  flex-direction: column;
  margin: 24px;

  .star-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px black;
    padding: 16px;
    margin: 8px;
  }
}
