/* You can add global styles to this file, and also import other style files */


body{
  margin: 0 !important;
}

#fire{
  background-color: rgb(228, 151, 151);
}
#nature{
  background-color: rgb(139, 202, 161);
}
#ice{
  background-color: rgb(163, 189, 222);
}
#dark{
  background-color: rgb(200, 171, 226);
}
#light{
  background-color: rgb(218, 209, 150);
}
#iron{
  background-color: rgb(197, 197, 197);
}
