/* You can add global styles to this file, and also import other style files */


body{
  margin: 0 !important;
}

#fire{
  background-color: #ca2f48;
}
#nature{
  background-color: #3bb195;
}
#ice{
  background-color: #0096fd;
}
#dark{
  background-color: #4a3d9a;
}
#light{
  background-color: #f58d01;
}
#iron{
  background-color: #6a6979;
}
